@import "@wordpress/dataviews/build-style/style.css";
@import "@wordpress/components/build-style/style.css";

body {
	background: #fff;
	color: #3c434a;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif;
	font-size: 16px;
	min-width: 600px;
}

.intro {
	padding: 0 50px;
	font-weight: 700;

	a {
		margin: 0 5px;
	}
}

.link_example {
	padding-right: 20px;
}

.link_example:hover {
	text-decoration: underline;

	::after {
		content: " 🔗";
	}
}

.tags_example {
	display: flex;
	flex-wrap: wrap;

	span {
		background-color: rgb(166, 165, 165);
		color: #fff;
		padding: 2px 4px;
		margin: 2px;
	}
}

.dataviews-view-table tr td:first-child,
.dataviews-view-table tr th:first-child {
	min-width: 300px;
}

.viewsContainer {

	.dataViewsContainer {
		width: 40%;
		float: left;
	}

	.iframeContainer {
		width: 60%;
		float: left;
	}
}

.dataviews-view-list {
	list-style-type: none;
}

iframe {
	background-color: initial;
	box-sizing: border-box;
	display: block;
	height: 100vh;
	width: 100%;
}

.dataviews-view-list .dataviews-view-list__media-wrapper,
.dataviews-view-list li:not(.is-selected) .dataviews-view-list__primary-field {
	display: none;
}

.dataviews-view-list__fields > .dataviews-view-list__field:nth-of-type(1),
.dataviews-view-list__fields > .dataviews-view-list__field:nth-of-type(2),
.dataviews-view-list__fields > .dataviews-view-list__field:nth-of-type(3),
.dataviews-view-list__fields > .dataviews-view-list__field:nth-of-type(4) {
	font-size: 1.5em;
}

.dataviews-view-list__fields > .dataviews-view-list__field a {
	text-decoration: none;
}

.dataviews-view-list__fields > .dataviews-view-list__field:nth-of-type(5) {
	flex: 1 1 100%;
}
