@import "@wordpress/dataviews/build-style/style.css";
@import "@wordpress/components/build-style/style.css";

body {
	background: #fff;
	color: #3c434a;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif;
	font-size: 16px;
	min-width: 600px;
}

.intro {
	padding: 0 50px;

	.main {
		font-weight: 700;

		a {
			margin: 0 5px;
		}
	}

	code {
		background-color: rgb(239, 235, 235);
		padding: 2px;
	}
}

.link_example {
	padding-right: 20px;
}

.link_example:hover {
	text-decoration: underline;

	::after {
		content: " 🔗";
	}
}

.tags_example {
	display: flex;
	flex-wrap: wrap;

	span {
		background-color: rgb(166, 165, 165);
		color: #fff;
		padding: 2px 4px;
		margin: 2px;
	}
}

.dataviews-view-table tr td:first-child,
.dataviews-view-table tr th:first-child {
	min-width: 300px;
}

.viewsContainer {

	.dataViewsContainer {
		width: 40%;
		float: left;
	}

	.iframeContainer {
		width: 50%;
		height: 90vh;
		float: left;

		display: table;
	}

	.iframeContainer p {
		text-align: center;
		vertical-align: middle;
		display: table-cell;
		color: rgb(238, 55, 55);
		font-size: 1.2em;
	}
}

.dataviews-view-list {
	list-style-type: none;
}

iframe {
	background-color: initial;
	box-sizing: border-box;
	display: block;
	height: 100vh;
	width: 100%;
}

.dataviews-view-list .dataviews-view-list__media-wrapper,
.dataviews-view-list li .dataviews-view-list__primary-field {
	display: none;
}

.dataviews-view-list__fields > .dataviews-view-list__field:nth-of-type(1),
.dataviews-view-list__fields > .dataviews-view-list__field:nth-of-type(2),
.dataviews-view-list__fields > .dataviews-view-list__field:nth-of-type(3),
.dataviews-view-list__fields > .dataviews-view-list__field:nth-of-type(4) {
	font-size: 1.5em;
}

.dataviews-view-list__fields > .dataviews-view-list__field a {
	text-decoration: none;
}

.dataviews-view-list__fields > .dataviews-view-list__field:nth-of-type(5) {
	flex: 1 1 100%;
}

.dataviews-view-list li.is-selected.is-selected {
	background: #fcfcfc;
	border-right: 4px solid rgb(20, 19, 19);
}
